<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: head"></head>
<body>
<div class="header" >
    <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
    </div>
</div>
<div th:insert="fragments.html :: side-bar"></div>
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <form method="post" th:action="@{/update}" action="#"  th:if="${student != null}" th:object="${student}" >
                        <input type="hidden" th:value="${groupId}" name="groupId">
                        <input type="hidden" th:value="${student.getId()}" name="id">
                        <input type="text" class="form-control" th:value="${student.getStudentName()}" placeholder="ФИО" name="studentName"  >
                        <label></label>
                        <input class="form-control" type="text" th:value="${student.getAnn()}" name="ann">
                        <div class="form-group">
                            <!--                        <input placeholder="Дата начала курсов" class="textbox-n form-control date-picker " type="text" name="date" onfocus="(this.type='date')" onblur="(this.type='text')"  />-->
                            <label style="font-size: 14px;">Дата начало </label>
                            <input type="date" name="date" id="date" th:value="${student.getDate()}" class="form-control"  placeholder="Выберите дату" required>
                            <label></label>
                            <select class="form-control" name="time"  th:value="${student.getTime()}" >
                                <option th:text="${student.getTime()}" selected></option>
                                <option>8:00</option>
                                <option>9:30</option>
                                <option>11:00</option>
                                <option>12:30</option>
                                <option>14:00</option>
                                <option>15:30</option>
                                <option>17:00</option>
                                <option>18:30</option>
                                <option>20:00</option>
                            </select>
                        </div>
                        <label style="font-size: 14px;">Дата проведения курсов</label>
                        <input type="date" class="form-control" placeholder="Дата проведения курсов" th:value="${student.getCourseDates()}" name="courseDates" required>
                        <label></label>
                        <input type="number" class="form-control" placeholder="Разговор" min="0" name="speaking" th:value="${student.getSpeaking()}" required>
                        <label></label>
                        <input type="number" class="form-control" placeholder="Письмо" min="0" name="writing" th:value="${student.getWriting()}" required>
                        <label></label>
                        <div class="form-group">
                            <select class="form-control" name="result" id="exampleFormControlSelect1" th:value="${student.getResult()}">
                                <option th:text="${student.getResult()}" selected></option>
                                <option>сдал(a)</option>
                                <option>не сдал(а)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="level" >
                                <option th:text="${student.getLevel()}" selected></option>
                                <option>A 0.5</option>
                                <option>A 1.1</option>
                                <option>A 1.2</option>
                                <option>A 2.1</option>
                                <option>A 2.2</option>
                                <option>B 1-</option>
                                <option>B 1+</option>
                            </select>
                        </div>
                        <div class="row form-group pd-20">
                            <select name="teacher" class="form-control col" id="sel1" onchange="giveSelection(this.value)" required>
                                <option  th:each="teacher : ${teachers}" th:value="${teacher.getId()}" th:text="${teacher.getName()}"  th:selected="${student.getGruppa().teacher.getId() == teacher.getId()}"></option>
                            </select>

                            <select name="group" class="form-control col"  id="sel2">
                                <option th:text="${student.getGruppa().getName()}"></option>
                                <span th:each="group : ${allGruppa}">
                                    <option  th:selected="${student.getGruppa().getId() == group.getId()}"    th:data-option="${group.teacher.getId()}" th:text="${group.getName()}" required></option>
                                </span>
                            </select>
                        </div>

                        <input type="text" class="form-control" placeholder="Комментарий" name="comment" th:value="${student.getComment()}" required>
                        <label></label>
                        <div class="modal-footer">
                            <button type="submit"  class="btn btn-primary">Отправить</button>
                        </div>
                    </form>

                </div>
                <div class="pb-20">
                </div>

            </div>

        </div>

    </div>

</div>


<script type="text/javascript">
    var sel1 = document.querySelector('#sel1');
    var sel2 = document.querySelector('#sel2');
    var options2 = sel2.querySelectorAll('option');

    function giveSelection(selValue) {
        sel2.innerHTML = '';
        for(var i = 0; i < options2.length; i++) {
            if(options2[i].dataset.option === selValue) {
                sel2.appendChild(options2[i]);
            }
        }
    }

    giveSelection(sel1.value);
</script>
<div th:insert="fragments.html :: footer"></div>


<script type="text/javascript" th:src="@{/src/scripts/main.js}"></script>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
